%p
-colors = %w{white red blue green cyan black}
-letters = ('A'..'F').to_a
-@battle.map.each_with_index do |row, i|
  .hexrow{:class => (i%2 == 1 ? "" : "stagger")}
    -@battle.map[i].each_with_index do |hex,j|
      .hex{:class => colors[hex/100]}= hex%100
  
  
  
:javascript
  $(document).ready(function(){
    $(".hex").click(function(){
      setHexColor(this, "red");
      return true;
    });
  
  });
  function setHexColor(hex, color){
    $(hex).removeClass().addClass("hex").addClass(color);
  }
